# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs / editors
# .vscode/
.idea/
*.iml

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.eggs/
.eggs/
pip-wheel-metadata/
.env
.venv/
venv/
env/
ENV/
.tox/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.cache
*.log

# Flutter / Dart
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-*
# If this is a Flutter app, consider committing pubspec.lock; if a package, ignore it.
pubspec.lock

# Build / distribution artifacts
dist/
build/
site/
wheelhouse/
*.whl

# Misc
.DS_Store
# ignore all .lock files
*.lock
# except uv.lock at repository root
!/uv.lock

# Local configuration files
/.dist
/.dev
/stubs