site_name: FletSecureStorage
repo_url: https://github.com/td3447/flet-secure-storage
repo_name: td3447/flet-secure-storage
edit_uri: edit/main/docs/

theme:
  name: readthedocs
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - import sys; sys.path.append("src")
          options:
            docstring_style: google
            show_source: true
            merge_init_into_class: true
            separate_signature: true
            show_signature: true
            show_root_heading: false
            group_by_category: true

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets

docs_dir: docs

nav:
  - Home: index.md
  - API Reference: api.md
